{% extends "base.html" %}
{% block content %}
  <h2>All Clients</h2>
    {% for client in clients %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">logo here </a>
              <small class="text-muted">{{ client.date_added.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('requests', client_id=client.id) }}">{{ client.name }}</a></h2>
            <p class="article-content">{{ client.location }}</p>
          </div>
        </article>
        <br>
    {% endfor %}
    <h2>Add a new Client</h2> 
    <form method="POST" action="">
        {{ forms.hidden_tag() }}
        <div class="md-form mx-4">
            <i class="fa fa-user-circle prefix mr-2"></i>
            <label for='{{ forms.name.label }}'>Client name</label>
                {% if forms.name.errors %}
                    {{ forms.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in forms.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ forms.name(class="form-control form-control-lg") }}
                {% endif %}
        </div>

        <div class="md-form mx-4">
            <i class="fa fa-address-card prefix"></i>
            <label for='{{ forms.location.label }}'>Address</label>
            {% if forms.location.errors %}
                {{ forms.location(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in forms.location.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ forms.location(class="form-control form-control-lg") }}
            {% endif %}
        </div>

        <div class="text-center font-weight-bold">
            {{ forms.submit(class="btn btn-deep-purple btn-sm") }}
        </div>
    </form>
{% endblock content %}
{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}         



